
h1,
h2,
h3,
h4,
h5 {
	font: {
		family: $clearsans_light, sans-serif;
		weight: normal;
	}
	word-wrap: break-word;
	color: $green;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
 	// text-rendering: optimizeLegibility;
 }

 p {
 	-webkit-font-smoothing: antialiased;
 	font: {
 		family: $clearsans_light, sans-serif;
 		weight: normal;
 	}
 }